.title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 16px;
  text-align: center;
}

.h6 {
  font-size: 16px;
  text-align: center;
  margin-bottom: 1rem;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-content {
  margin-top: 20px;
}

.dark-mode {
  background-color: #343a40;
  color: #fff;
}

.navbar {
  border-bottom: 1px solid #dee2e6;
}
